
.banner-text {
  position: absolute;
  padding-left: 5%;
  padding-right: 5%;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
  bottom: 5%;
}

.recipe-name {
  color: #F2A922;
  font-size: 60px;
  text-align: center;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
}

.tagline {
  font-size: 25px;
  color: white;
  text-align: justify;
}



.ingredients {
  margin-top: 2%;
  text-align: center;
  font-size: 18px;
}

.step-by-step {
  margin-left: 5%;
}

.step {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.recipe-images {
  display: block;
}

.recipe-img {
  margin-right: 5%;
  height: 250px;
  width: 300px;
  background-size: cover;
  object-fit: cover;
  margin-bottom: 5%;
}

.box-howto {
  height: 200px;
  margin-bottom: 5%;
  text-align: justify;
}



@media (max-width: 767.98px){
  .step {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1399.98px) { 
  .banner-text {
    bottom: 44%;
  }
}

