.banner {
  height: 700px;
  background-attachment: scroll;
}

.gradient {
  z-index: -2;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2));
}

.banner-recipe  {
  z-index: -3;
  height: 700px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  object-fit: cover;
  text-align: left;
  color: white;
  font-size: 90px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.banner-text {
  /* z-index: -1; */
  position: absolute;
  padding-left: 50px;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
  bottom: 50px;
}


.recipe-name {
  color: #F2A922;
  font-size: 60px;
  text-align: center;
}

.tagline {
  font-size: 25px;
  color: white;
}

.ingredients {
  margin-top: 3%;
  text-align: center;
  font-size: 18px;
}

.container {
  margin-top: 5%;
}

.recipe-images {
  display: block;
}

.recipe-img {
  height: 200px;
  width: 300px;
  background-size: cover;
  object-fit: cover;
  margin-bottom: 5%;
}

.box-howto {
  height: 200px;
  margin-bottom: 5%;
  text-align: justify;
}
