
.gradient{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}

.bg {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  object-fit: cover;
  z-index:-1;
}

span {
  position: absolute!important;
}

@media (max-width: 1199.98px) {
  .bg {
    min-height: 1000px;
  }
}
