main {
  margin: 5%;
}

header {
  height: 40vh;
  min-height: 180px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 -4px 4px rgba(64, 46, 89, 0.3));
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0px;
}

header nav .tab {
  font-family: font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgba(76,115,18,1);
  border: none;
  padding: 38px 40px;
  margin: 0 5px 0;
  outline: none;
  cursor: pointer;
  position: relative;
  background: none;
}
header nav .tab:hover .tab-background {
  height: 20px;
  background-image: url("../images/drawer.png");
  background-size: cover;
}
header nav .tab:hover .tab-rounding {
  transform: scaleY(1);
}
header nav .tab.active {
  color: #F2A922;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  /*color: white;*/
}
header nav .tab.active .tab-background {
  height: 100%;
  background-image: url("../images/drawer.png");
  background-size: cover;
}
header nav .tab.active .tab-rounding {
  transform: scaleY(1);
}
header nav .tab-copy {
  position: relative;
  z-index: 1;
}
header nav .tab-background {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 0;
  border-radius: 8px 8px 0 0;
  transition: height cubic-bezier(0.86, 0, 0.07, 1) 0.24s;
}

article{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  background-image: url("../images/table.jpg");
}

article .container {
  width: 100%;
  padding: 40px;
  max-width: 1024px;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
}
article h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 30px;
  color: white;
}
article p {
  line-height: 1.6;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.fade-enter-active > *,
.fade-leave-active > * {
  transition-duration: 200ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.6, 0.15, 0.35, 0.8);
}

.fade-enter > *,
.fade-leave-to > * {
  opacity: 0;
  transform: translateY(40px);
}

.fade-enter-active > *:nth-child(2) {
  transition-delay: 100ms;
}
.fade-enter-active > *:nth-child(3) {
  transition-delay: 200ms;
}

.fade-leave-active > *:nth-child(1) {
  transition-delay: 200ms;
}
.fade-leave-active > *:nth-child(2) {
  transition-delay: 100ms;
}

/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  header {
    height: 3vh;
    min-height: 72px;
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {  
  header {
    height: 3vh;
    min-height: 72px;
  }
  header nav .tab {
    font-size: 12px;
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
  header {
    height: 3vh;
    min-height: 72px;
  }
  header nav .tab {
    padding: 0px;
    font-size: 12px;
  }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
   header {
    height: 3vh;
    min-height: 72px;
  }
  header nav .tab {
     padding: 10px 0px; 
    font-size: 12px;
  } 
}

/*X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
  header {
    height: 10vh;
    min-height: 134px;
  }
  header nav .tab {
    padding: 30px 21px;
    font-size: 16px;
  } 
  header nav ul {
    overflow-y: scroll;
  }
}
